<%- include('header.ejs') %>
<%- include('navbar.ejs') %>
        <div class="row">
            <div class="col">
               CheckOut page.
            </div>
        </div>
    </div>
</body>
</html>