<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item <%= (path == '/admin/add-product')?'active':'' %>">
                          <a class="nav-link" href="/admin/add-product">Add Product</a>
                        </li>
                        <li class="nav-item <%= (path == '/admin/list-product')?'active':'' %>">
                          <a class="nav-link" href="/admin/list-product">Admin products</a>
                        </li>
                        <li class="nav-item <%= (path == '/product')?'active':'' %>">
                          <a class="nav-link" href="/product">Product</a>
                        </li>
                        <li class="nav-item <%= (path == '/cart')?'active':'' %>">
                          <a class="nav-link" href="/cart">Cart</a>
                        </li>
                      </ul>
                    </div>
                </nav>
            </div>
        </div>